@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table>
    <tr>
        <td>
            FirstName
        </td>
        <td>
            @ViewBag.fname1
        </td>

    </tr>
     <tr>
        <td>
            MiddleName
        </td>
        <td>
            @ViewBag.mname1
        </td>

    </tr>
       <tr>
        <td>
            FirstName
        </td>
        <td>
            @ViewBag.lname1
        </td>

    </tr>
      <tr>
        <td>
            Email
        </td>
        <td>
            @ViewBag.email1
        </td>

    </tr>
      <tr>
        <td>
            PhoneNumber
        </td>
        <td>
            @ViewBag.phn1
        </td>

    </tr>
      <tr>
        <td>
            DateofBirth
        </td>
        <td>
            @ViewBag.date1
        </td>

    </tr>
</table>